<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Snyk API App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Welcome to the Snyk API Integration</h1>
        <a href="/orgs" class="btn btn-primary">Manage Organizations</a>
        <a href="/notifications" class="btn btn-primary">Manage Notifications</a>

    </div>
</body>
</html>
